/*
 * Modals
 *-------------------------------------*/
.modal {
   display: none;
   z-index: 50;

   text-align: center;
   background-image: url("../images/sandpaper.png");

   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 10px;

   font-size: 20px;

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.modal.active {
   max-width: 100%;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;

   -webkit-box-pack: center;
   justify-content: center;
}

.modal:not(.modal__setup).active {
   animation: 1s fadeIn;
}

.modal__content {
   max-width: 90%;
   margin: 0 auto;
   padding: 50px 0;
}

.modal .button {
   color: #333;
   background-color: #63BE4F;
   border: 1px solid #53ac3f;
   box-shadow:    5px 5px 20px 0 rgba(46, 61, 73, 0.5);

   cursor: pointer;
   font-size: 24px;
   font-weight: 400;
   letter-spacing: 1px;
   padding: 16px 36px;
   width: auto;
   border-radius: 50%;
}

.modal .button .active {
   display: flex;
}

.modal .button:hover {
   background-color: #667BD5;
   border: 1px solid #4b64ce;
   color: #fff;
}

.modal ul,
.modal li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

/** Pick Character **/
.character__container {
   padding: 0;
   margin: 0 auto;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.character__container .character__image {
   list-style: none;
   cursor: pointer;
   width: 105px;
   height: 175px;
   margin-bottom: 20px;
}

/** Game Lost Modal **/
.modal__lost-game .loader {
   color: #fff;
}

.modal .loader {
   font-size: 60px;
   font-weight: 100;
   color: #fff;

   animation: 1s scaleBigText 1s;
}



#overlay {
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 1000;
   top: 0;
   left: 0;
}


/*
 * Modals
 *-------------------------------------*/
.none {
   display: none;
}

.block {
   display: block;
}

.modal__lost-game {
   display: none;
   background-image: url("../images/sandpaper-red.png");
   /*background-color: #e06e3d;*/
   color:            #fff;

   text-align: center;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 10px;

   font-size: 20px;

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.modal__won-game {
   display: none;

   text-align: center;
   background-image: url("../images/sandpaper-green.png");
   background-color: #fff;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 10px;

   font-size: 20px;

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.modal.active {
   max-width: 100%;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;

   -webkit-box-pack: center;
   justify-content: center;

   animation: 1s fadeIn;
}


.modal.active2 {
   max-width: 80%;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;
   overflow-y: auto;
   animation: 1s fadeIn;
}

.modal .loader {
   font-size: 60px;
   font-weight: 100;
   color: #000;

   animation: 1s scaleBigText 1s;
}

.modal__info-game .loader,
.modal__lost-game .loader {
   color: #fff;

}

/*
 * Keyframes - from animate.css
 *-------------------------------------*/

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes riseUp {
   from {
      -webkit-transform: translateY(0);
      transform:         translateY(0);
      visibility:        visible;
   }

   100% {
      -webkit-transform: translateY(-1750px);
      transform:         translateY(-1750px);
   }
}

@keyframes rubberBand {
   from {
      transform: scale3d(1, 1, 1);
   }

   30% {
      transform: scale3d(1.25, 0.75, 1);
   }

   40% {
      transform: scale3d(0.75, 1.25, 1);
   }

   50% {
      transform: scale3d(1.15, 0.85, 1);
   }

   65% {
      transform: scale3d(.95, 1.05, 1);
   }

   75% {
      transform: scale3d(1.05, .95, 1);
   }

   to {
      transform: scale3d(1, 1, 1);
   }
}

@keyframes wobble {
   from {
      transform: none;
   }

   15% {
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
   }

   30% {
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
   }

   45% {
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
   }

   60% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
   }

   75% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
   }

   to {
      transform: none;
   }
}

@keyframes scaleBigText {
   from {
      font-size: 60px;
   }

   50% {
      font-size: 120px;
   }
}

